#content {
    position: relative;
}

#content img {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 50px;
}

span.name {
    color:#FF0000;
    font-weight:bold;
    font-family:Tahoma;
    font-size:20 
}

h4 {
    text-align:center;
}